{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Página inicial{% endblock %}</h1>
{% endblock %}

{% block content %}
Bem-vindo ao nosso site de listagem de livros!
Explore nossa vasta seleção de obras para todos os gostos e interesses.<br>
Aqui, você pode não apenas descobrir novos livros, mas também contribuir
adicionando suas próprias recomendações.<br> Estamos ansiosos para ver sua 
participação e esperamos que você encontre aqui novas histórias que enriqueçam sua vida literária.
{% endblock %}
